.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  
}

.logo img {
  width: 155px;
  height: 70px;
}

.navbar {
  display: flex;
  gap: 1.5rem;
}


.menu-icon {
  display: none;
}


nav #nav-part {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part h4 {
  padding: 10px 20px;
  border: 1px solid #8a8a8a89;
  border-radius: 50px;
  font-weight: 500;
  color: #0f0f12;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  z-index: 9;
  transition: all ease 0.5s;
  overflow: hidden;
}
#nav-part h4 a {
  text-decoration: none;
  color: #ffff;
  z-index: 9;
  position: relative;
}
#nav-part h4::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0f0f12;
  position: absolute;
  left: 0;
  bottom: -44px;
  border-radius: 50px;
    
}

#nav-part h4:hover::after {
  bottom: 0;
  color: #fff;
  border-radius: 0;
  transition: all ease 0.5s;
}
#nav-part h4:hover a {
  color: #fff;
}



/* Mobile View */
@media (max-width: 768px) {

  .header {
    padding: 10px 18px;
  }
  .logo {
  
  }
  .logo img {
    width: 125px;
    height: 40px;
  }
  nav #nav-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
  }

  .menu-icon {          
    display: block;
    margin-left: auto;
    z-index: 1100;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    /* background: rgba(255, 255, 255, 0.1); */
    background: rgb(33 32 32 / 90%);
    backdrop-filter: blur(10px);

    border-bottom-left-radius: 200px;

    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;

    transition: 
      transform 0.35s ease,
      opacity 0.3s ease;

    overflow: hidden;
  }
  .navbar.active {
    /* max-height: 300px;
    height: 500px;
    border-bottom-left-radius: 200px; */

    transform: scaleY(1);
    opacity: 1;
    border-bottom-style: inset;
  }

  .navbar #nav-part {
    flex-direction: column;
    gap: 3rem;
    margin-left: auto;
    padding: 20px 60px;
    font-size: 21px;
    display: flex;
    gap: 1.5rem;
    font-weight: 700;
    color: #0f0f12;
    max-height: 410px;
    min-height: 265px;

  }

  #nav-part h4 {
    padding: 10px 20px;
    font-weight: 500;
    color: #0f0f12;
    font-size: 18px;
    position: relative;
    border: none;
  }
  #nav-part h4 a {
    text-decoration: none;
    color: #fff;
  }
}