.homeContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.homeContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);      
}

.homeContainer .heroImg {
    width: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    height: 100vh;
}

.homeContainer .heroContent {
    position: absolute;                   
    top: 57%;                             
    left: 38%;                             
    transform: translate(-50%, -50%);                      
    color: var(--color-text-heading);     
    max-width: 800px;
    z-index: 2;      
}

.heroContent p {
    color: var(--color-brand-bright);      
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.heroContent h1{
    color: var(--color-text-heading);     
    margin-bottom: var(--space-md); 
    width: 65%;
    font-size: 3.4rem;
}

.heroContent button {
    margin-top: var(--space-sm); 
}


/* Mobile View */

@media (max-width: 768px) {
    .homeContainer {
        padding: 0;
    }

    .homeContainer .heroImg {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: relative;
    }

    .homeContainer .heroContent {
        width: 90%;
        position: absolute;
        left: 50%;
    }

    .heroContent p {
        font-size: 1.1rem;
    }

    .heroContent h1{
        font-size: 34px;
    }
}


/* Desktop View */
@media (min-width: 1900px) {
    .homeContainer {
        height: 90vh;
    }

    .homeContainer .heroImg {
        height: 100%;
        object-fit: cover;
    }
}