.contactUs {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0f12;
  padding: 70px 20px;
}


.glassForm {
  max-width: 100%;
  min-width: 80%;
  padding: 50px;
  border-radius: 18px;

  background: rgba(24, 24, 28, 0.85);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.glassForm h2 {
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 28px;
}

.glassForm .grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.grid .formGroup {
  position: relative;
  flex: 1 1 calc(50% - 12px);
}


.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 16px 14px;
  background: #18181c;
  border: 1px solid #2a2a2f;
  border-radius: 10px;
  color: #d4d4d8;
  outline: none;
  font-size: 14px;
  transition: 0.3s ease;
}

/* Focus State */
.formGroup input:focus,
.formGroup textarea:focus {
  border-color: #bc0f2c;
  box-shadow: 0 0 0 2px rgba(188, 15, 44, 0.2);
}


textarea {
  resize: none;
  min-height: 120px;
}

.submitBtn {
  padding: 16px;
  border-radius: 10px;
  border: none;
  background: #bc0f2c;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submitBtn:hover {
  background: #d41736;
  transform: translateY(-2px);
}



/* Tablet */
@media (max-width: 992px) {
  .glassForm {
    padding: 30px;
    border-radius: 14px;
  }

  .grid .formGroup {
    flex: 1 1 calc(50% - 12px);
  }
}

/* Mobile */
@media (max-width: 600px) {

  .contactUs {
    display: block;
    padding: 60px 16px;
  }
  .glassForm {
    padding: 30px 20px;
  }

  .glassForm h2 {
    font-size: 22px;
  }

  .grid {
    flex-direction: column;
  }

  .grid .formGroup {
    flex: 1 1 100%;
  }

  .submitBtn {
    width: 100%;
  }
}